.main_mod{
padding: 20px;
background: #201308;
border: 3px solid #ca965d;
border-radius: 10px;
position:absolute;
z-index: 2000;
width:500px;
margin: 0 auto;
}

.close_button {
	position:absolute;
	top:-20px;
	left:510px;
	z-index:2001;
	cursor: pointer;
}

.close_button:not(.disabled):hover {
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    -moz-filter: brightness(130%);
    -o-filter: brightness(130%);
    -ms-filter: brightness(130%);
}

.card IMG { position: relative;float:left;margin-left:10px; }
	
}
.packs {
    position: relative;
	width:80px;
	height:80px;
	float:left;
}

.packs img {
    position: absolute;
}
 
.frame_icon_img{
	 width:80px;
	 height:80px;
	 left:-8px;
 }

/* 
.hero_icon{
	width:75px;
	height:75px;
	left:-8px;
	margin:2px;
 }
*/
 
.lvl_icon{
left:12px;	
}

.level_text {
	position:absolute;
	left:21px;
	font-weight:600;
	top:5px;
}

.img_check {
	position: absolute;
	width:20px;
	margin-left: 5px;
	margin-right: 10px;
}

input[type=text] {
	background-color:#241409;
	color:white;
	 box-sizing: border-box;
	 border: 3px solid #ca965d;
	 border-radius: 10px;
	 margin-left: 5px;
}

.zagolovok {
	position:absolute;
	top: -10px;
}

.paragraph {
	margin-top:5px;
}

.white {
	position: relative;
	margin-left: 25px;
	margin-right:10px;
}

.checkboxed {
	border: 2px solid #ca965d;
	border-radius: 10px;
	background-color:#120401;
	height:50px;
	width:300px;
}

label {
	font-size:20px;
	margin-bottom:10px;

}

.heroes {
	width:100%;
	height:70px;
	margin:0 auto;
}

.level_icon{
	position:absolute;
	z-index:9998;
	left:17px;
	top:0;
	width:28px;
}

.level_text{
	position:absolute;
	z-index:9999;
	font-size:12px;
	font-weight:700;
    left: 47%; /* position the left edge of the element at the middle of the parent */
	top:9px;
    transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
}

.hero_icon{
	left:6px;
	top:6px;
	position:absolute;
	width:50px;
	border-radius:10px;
}

.pet_icon{
	left:6px;
	top:6px;
	position:absolute;
	width:50px;
	border-radius:10px;
}

.rank_icon{
	left:0;
	position:absolute;
	width:62px;
}

.pet_rank_icon{
	left:0;
	position:absolute;
	width:62px;
}

.star_icon {
	position:absolute;
	z-index:9999;
	height:14px;
	width:11px;
	left:40%;
	bottom:4;
}

.star6_icon{
	position:absolute;
	z-index:9997;
	left: 11px;
	margin-top:38px;
}

.one_hero {
	position:relative;
	margin-top:2px;
	width:65px;
	height:65px;
	float:left;
}
