.main_mod{
padding: 20px;
background: #201308;
border: 3px solid #ca965d;
border-radius: 10px;
position:absolute;
z-index: 2000;
width:500px;
margin: 0 auto;
}

.close_button {
	position:absolute;
	top:-20px;
	left:510px;
	background: url(/site_style/close_button.png) no-repeat 50%;
    background-size: 100%;
	z-index:2001;
	cursor: pointer;
}

.close_button:not(.disabled):hover {
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    -moz-filter: brightness(130%);
    -o-filter: brightness(130%);
    -ms-filter: brightness(130%);
}

.card IMG { position: relative;float:left;margin-left:10px; }


.packs {
    position: relative;
	width:80px;
	height:80px;
	float:left;
}

.packs img {
    position: absolute;
}

.star_icon {
	width:50px;
	height:37px;
	left:8px;
	bottom:0;
}
 
.frame_icon_img{
	 width:80px;
	 height:80px;
	 left:-8px;
 }
 
.hero_icon{
	width:75px;
	height:75px;
	left:-8px;
	margin:2px;
 }
 
.lvl_icon{
left:12px;	
}

.level_text {
	position:absolute;
	left:21px;
	font-weight:600;
	top:5px;
}

.img_check {
	position: absolute;
	width:20px;
}

input[type=text] {
	background-color:#241409;
	color:white;
	 box-sizing: border-box;
	 border: 3px solid #ca965d;
	 border-radius: 10px;
}

.zagolovok {
	position:absolute;
	top: -10px;
}

.paragraph {
	margin-top:5px;
}

.checkboxed {
	border: 2px solid #ca965d;
	border-radius: 10px;
	background-color:#120401;
	height:50px;
	width:300px;
}

label {
	font-size:20px;
	margin-bottom:10px;

}